<div class="wrapper">
  <header>
    <nav>
      <div class="logo-wrapper">
        <a routerLink="/" class="logo">
          CINEVERSE
        </a>
      </div>
      <div class="menu-icon" (click)="toggleMenu($event)">
        <i class="pi pi-bars fa-2x"></i>
      </div>
      <ul [class.showing]="isMenuOpen">
        <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/movies" (click)="closeMenu()">Movies</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
        <li><a routerLink="/about-us" (click)="closeMenu()">About</a></li>
        <li><a routerLink="/account" (click)="closeMenu()">Account</a></li>
      </ul>
    </nav>
  </header>
</div>
