:host {
  display: block;
  overflow: hidden;
}

.banner-container {
  position: relative;
}

.feature {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f8f9fa;
}

@media (min-width: 1000px) {
  a:hover{
    color: var(--cv-accent);
  }
}
