# =========================
# Build results
# =========================
**/bin/
**/obj/
**/out/

# =========================
# User-specific files
# =========================
**/*.user
**/*.rsuser
**/*.suo
**/*.userosscache
**/*.sln.docstates

# =========================
# IDE / Editors
# =========================
.vs/
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Test artifacts
# =========================
TestResults/

# =========================
# NuGet
# =========================
**/packages/
**/*.nupkg

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Git
# =========================
.git
.gitignore